#include "components_base.xcconfig"


// ask ld to do the strip symbols
DEPLOYMENT_POSTPROCESSING = YES
STRIP_INSTALLED_PRODUCT = NO
STRIP_STYLE = non-global
SEPARATE_STRIP = NO
COPY_PHASE_STRIP = NO

// -Wl,x asks for striping non-global symbols
OTHER_LDFLAGS = -Wl,-x 
PRODUCT_NAME = $(PROJECT_NAME)