//Xerces Definition
VERSION_XERCES = 3.0.1
GCC_PREPROCESSOR_DEFINITIONS_XERCES = XERCES_3_0_1;

//ICU Definition
VERSION_ICU = 4.8

//WebKit Version
VERSION_WEBKIT = 534.53
CONFIG_WEBKIT_Debug=$(CONFIGURATION)
CONFIG_WEBKIT_Release=$(CONFIGURATION)
CONFIG_WEBKIT_Beta=Production

GCC_SYMBOLS_PRIVATE_EXTERN = YES
//GCC_VERSION = 4.2
CONFIGURATION_BUILD_DIR=$(BUILD_DIR)/$(CONFIGURATION)
CONFIGURATION_TEMP_DIR=$(PROJECT_TEMP_DIR)/$(CONFIGURATION)
SHARED_PRECOMPS_DIR=$(SRCROOT)/SharedPrecompiledHeaders/$(TARGET_NAME)/$(CONFIGURATION)
ARCHS = i386
VALID_ARCHS = i386 x86_64
ONLY_ACTIVE_ARCH = NO

MACOSX_DEPLOYMENT_TARGET = 10.6
SDKROOT = macosx10.6
WRAPPER_EXTENSION = bundle
SYMROOT = $(SRCROOT)/../../../components $(ARCHS);
OBJROOT = $(SRCROOT)/build/$(TARGET_NAME)/$(CONFIGURATION)
DEBUG_INFORMATION_FORMAT = dwarf
INFOPLIST_FILE = Info.plist
FRAMEWORK_SEARCH_PATHS = "$(SRCROOT)/../../../../../XToolbox/Main/Frameworks $(ARCHS)" "$(SRCROOT)/../../../../../icu/$(VERSION_ICU)/Frameworks $(ARCHS)"
FRAMEWORK_SEARCH_PATHS_JSC = "$(SRCROOT)/../../../../../webkit/${VERSION_WEBKIT}/JavaScriptCore/build_$(ARCHS)/$(CONFIG_WEBKIT_$(CONFIGURATION))"
FRAMEWORK_SEARCH_PATHS_WEBKIT = "$(SRCROOT)/../../../../../webkit/${VERSION_WEBKIT}/WebKit/build_$(ARCHS)/$(CONFIG_WEBKIT_$(CONFIGURATION))"
FRAMEWORK_SEARCH_PATHS_WEBCORE = "$(SRCROOT)/../../../../../webkit/${VERSION_WEBKIT}/WebCore/build_$(ARCHS)/$(CONFIG_WEBKIT_$(CONFIGURATION))"

HEADER_SEARCH_PATHS = ../../ ../../../ ../../../../../XToolbox/Main/ 
HEADER_SEARCH_PATHS_XERCES = "${SRCROOT}/../../../../../xerces/$(VERSION_XERCES)/xerces/src"
HEADER_SEARCH_PATHS_ICU = "../../../../../icu/$(VERSION_ICU)/icu/source/common/" "../../../../../icu/$(VERSION_ICU)/icu/include"
HEADER_SEARCH_PATHS_JSC = "$(SRCROOT)/../../../../../webkit/${VERSION_WEBKIT}/JavaScriptCore/4D" "$(SRCROOT)/../../../../../webkit/${VERSION_WEBKIT}/JavaScriptCore/ForwardingHeaders" "$(SRCROOT)/../../../../../webkit/${VERSION_WEBKIT}"
HEADER_SEARCH_PATHS_CORERUNTIME = "$(SRCROOT)/../../../../../CoreRuntime/main/Sources"

//GCC 4.2 Preprocessing
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS_$(CONFIGURATION)); 
GCC_PREPROCESSOR_DEFINITIONS_Debug = $(GCC_PREPROCESSOR_DEFINITIONS_XERCES) VERSIONDEBUG=1;
GCC_PREPROCESSOR_DEFINITIONS_Coverage = $(GCC_PREPROCESSOR_DEFINITIONS_XERCES) VERSIONDEBUG=1;
GCC_PREPROCESSOR_DEFINITIONS_Beta = $(GCC_PREPROCESSOR_DEFINITIONS_XERCES) VERSIONDEBUG=0 WITH_DEBUGMSG=1 WITH_ASSERT=1;
GCC_PREPROCESSOR_DEFINITIONS_Performance = $(GCC_PREPROCESSOR_DEFINITIONS_XERCES) VERSIONDEBUG=0;
GCC_PREPROCESSOR_DEFINITIONS_Release = $(GCC_PREPROCESSOR_DEFINITIONS_XERCES) VERSIONDEBUG=0;
